<h2 class="page-header text-center">
  Edit <%= current_user.email %>
</h2>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <span style="float: left; margin-right: 20px; margin-bottom: 20px"><%= image_tag @user.avatar.url(:medium) %></span>
  <%= f.file_field :avatar, label: "Upload New Profile Picture", class: "btn btn-info"%>
  <%= f.check_box :admin, value: true, label: "Check for Admin Status (placed here temporarily)" %>
</div>

<div class="row">
  <hr>
  <%= f.text_field :first_name, autofocus: :true, placeholder: "John", id: "first" %>
  <%= f.text_field :last_name, placeholder: "Digweed", id: "last"  %>
  <%= f.text_field :age, placeholder: "Example: 35", id: "age"  %>
  <%= f.text_field :weight, placeholder: "(in lbs) Example: 165", id: "weight"  %>
  <%= f.select :gender, User.human_genders.invert  %>

  <%= f.email_field :email, placeholder: "john@johndigweed.com", id: "email"  %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.password_field :password, autocomplete: "off", placeholder: "(leave blank if you don't want to change it)", id: "password"  %>

  <%= f.password_field :password_confirmation, autocomplete: "off", id: "password-confirm"  %>
</div>
<div class="row">
  <hr>
  <%= f.password_field :current_password, autocomplete: "off", placeholder: "(we need your current password to confirm your changes)", id: "confirm" %>


  <%= f.submit "Update", data: {disable_with: 'Saving...'}, class: "btn btn-block btn-default", id: "update" %>
  <% end %>

</div>
<br>
<hr>
