<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.text_field :first_name, autofocus: :true, placeholder: "Example: John", id: "first" %>
    <%= f.text_field :last_name, placeholder: "Example: Digweed", id: "last"  %>
    <%= f.number_field :age, placeholder: "Example: 35", id: "age"  %>
    <%= f.number_field :weight, placeholder: "(in lbs) Example: 165", id: "weight"  %>
    <%= f.select :gender, User.human_genders.invert  %>
    <%= f.check_box :admin, value: true, label: "Check for Admin Status (placed here temporarily)" %>

    <%= f.email_field :email, placeholder: "Example: john@johndigweed.com", id: "email"  %>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", id: "password"  %>
    <%= f.password_field :password_confirmation, autocomplete: "off", id: "confirm"  %>
    <%= f.submit "Sign up", data: {disable_with: 'Saving...'}, class: "btn btn-block btn-default", id: "submit"%>

<% end %>

<%= render "devise/shared/links" %>
