<h1 class="page-header text-center">
  Profile for <strong><%= @user.first_name %> <%= @user.last_name %></strong>
    <br>
    <% if @user.admin %>
      <span class="btn btn-primary btn-xs disabled">ADMIN</span>
    <% end %>
</h1>

<div class="row">
  <span style="float: left; margin-right: 20px; margin-bottom: 20px"><%= image_tag @user.avatar.url(:medium) %></span>

<% if current_user != nil %>
  <p class="lead">
    <%= @user.gender %> <br>
    <strong>Age: </strong><%= @user.age %>  <br>
    <strong>Weight:</strong> <%= @user.weight %> lbs. <hr>
    <strong>Email:</strong> <%= @user.email %><br>
    <strong></strong>
  </p>
  <% else %>
    <div style="margin-top: 60px" class="col-md-3 col-md-offset-2 text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-default inline" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default inline"  %>
    </div>
  <% end %>
</div>

<% if can? :manage, @user %>
<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-block btn-default", id: 'edit-user'%>
<% end %>
