<h1 class="page-header text-center row">
  Profile for <strong><%= @user.first_name %> <%= @user.last_name %></strong>
    <br>
</h1>

<div class="row">
  <span style="float: left; margin-right: 20px; margin-bottom: 20px"><%= image_tag @user.avatar.url(:medium) %></span>

<% if current_user != nil %>
  <p class="lead">
    <%= @user.gender %>
    <span class="pull-right">
      <% if @user.admin %>
        <span class="btn btn-primary btn-xs disabled">ADMIN</span>
      <% end %>
    </span>
    <hr>
    <strong>Age: </strong><%= @user.age %>  <br>
    <strong>Weight:</strong> <%= @user.weight %> lbs. <br>
    <strong>Email:</strong> <%= @user.email %><br>
  </p>
  <% else %>
    <div style="margin-top: 60px" class="col-md-3 col-md-offset-2 text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-default inline" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default inline"  %>
    </div>
  <% end %>
</div>
  <div class="row">
    <p class="lead">Tracked</p>
      <% @obs =  Day.where(user_id: current_user) %>
      
      <% @obs.each do |o| %>
        <%= @obs %>
      <% end %>
      <br>
  </div>

<% if can? :manage, @user %>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-block btn-default", id: 'edit-user'%>
<% end %>
